.git
.github
.env
.env.*
node_modules
vendor
README.md
ROADMAP.md
docker-compose.yml
.env.docker
tests
.phpunit.result.cache
.phpunit.cache
storage/logs/*
!storage/logs/.gitkeep
storage/uploads/*
!storage/uploads/.gitkeep
storage/cache/*
!storage/cache/.gitkeep
storage/sessions/*
!storage/sessions/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
deploy
